  <!-- Footer -->
        <footer>

            <!-- Footer [content] -->
            <section id="footer" class="odd footer offers">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-3 footer-left">

                            <!-- Navbar Brand-->
                            <a class="navbar-brand" href="/">
                                <span class="brand">
                                    <span class="featured">
                                        <span class="first" style="font-size:12px;">SEN</span>
                                    </span>
                                    <span class="last" style="font-size:12px;">COVOITURAGE</span>
                                </span>

                                <!--
                                    Custom Logo
                                    <img src="assets/images/logo.svg" alt="NEXGEN">
                                -->
                            </a>
                            <p>A Functional HTML Template<br>for Corporate & Business.</p>
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fas fa-phone-alt mr-2"></i>
                                        +1 (305) 1234-5678
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fas fa-envelope mr-2"></i>
                                        hello@example.com
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fas fa-map-marker-alt mr-2"></i>
                                        Main Avenue, 987
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#contact" class="mt-4 btn outline-button smooth-anchor">Contactez-nous</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-lg-9 p-0 footer-right">
                            <div class="row items">
                                <div class="col-12 col-lg-4 item">
                                    <div class="card">
                                        <h4>About</h4>
                                        <a href="#"><i class="fas fa-chevron-right"></i>The Company</a>
                                        <a href="#"><i class="fas fa-chevron-right"></i>Institutional</a>
                                        <a href="#"><i class="fas fa-chevron-right"></i>Social & Events</a>
                                        <a href="#"><i class="fas fa-chevron-right"></i>Innovation</a>
                                        <a href="#"><i class="fas fa-chevron-right"></i>Environment</a>
                                        <a href="#"><i class="fas fa-chevron-right"></i>Technology</a>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4 item">
                                    <div class="card">
                                        <h4>Services</h4>
                                        <a href="#"><i class="fas fa-chevron-right"></i>Audit & Assurance</a>
                                        <a href="#"><i class="fas fa-chevron-right"></i>Financial Advisory</a>
                                        <a href="#"><i class="fas fa-chevron-right"></i>Analytics M&A</a>
                                        <a href="#"><i class="fas fa-chevron-right"></i>Middle Marketing</a>
                                        <a href="#"><i class="fas fa-chevron-right"></i>Legal Consulting</a>
                                        <a href="#"><i class="fas fa-chevron-right"></i>Regulatory Risk</a>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4 item">
                                    <div class="card">
                                        <h4>Support</h4>
                                        <a href="#"><i class="fas fa-chevron-right"></i>Responsibility</a>
                                        <a href="#"><i class="fas fa-chevron-right"></i>Terms of Use</a>
                                        <a href="#"><i class="fas fa-chevron-right"></i>About Cookies</a>
                                        <a href="#"><i class="fas fa-chevron-right"></i>Privacy Policy</a>
                                        <a href="#"><i class="fas fa-chevron-right"></i>Accessibility</a>
                                        <a href="#"><i class="fas fa-chevron-right"></i>Information</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Copyright -->
            <section id="copyright" class="p-3 odd copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6 p-3 text-center text-lg-left">
                            <p>Voyagez partout au Sénégal</p>
                            <!--
                                Suggestion: Replace the text above with a description of your website.
                             -->
                        </div>
                        <div class="col-12 col-md-6 p-3 text-center text-lg-right">
                            <p>© 2020 <a href="https://themeforest.net/user/codingsdev" target="_blank">SENCOVOITURAGE</a>.</p>
                        </div>
                    </div>
                </div>
            </section>

        </footer>