{% load static %}

<!-- Header -->
        <header id="header">
            <nav class="navbar navbar-expand bg-black subb">
                <div class="container header">
                    <!-- Navbar Brand-->
                    <a class="navbar-brand" href="/">
                        <span class="brand">
                            <span class="featured">
                                <span class="first">Co</span>
                            </span>
                            <span class="last">Voturage</span>
                        </span>
                    </a>

                    <!-- Navbar Items -->
                    <ul class="navbar-nav items">
                        <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">Accueil</a></li>
                        <li class="nav-item"><a href="{% url 'covoiturage-list' %}" class="nav-link">Voir les voyageurs</a></li>
                        <li class="nav-item"><a href="{% url 'covoiturage-form' %}" class="nav-link">Publier votre Trajet</a></li>
                       {% if user.is_authenticated %}
                        <li class="nav-item"><a href="{% url 'profile' %}" class="nav-link">Dashbord</a></li>
                        <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Déconnexion</a></li>
                        {% else %}
                        <li class="nav-item"><a href="{% url 'register' %}" class="nav-link">Inscription</a></li>
                        <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Connexion</a></li>
                        {% endif %}
                    </ul>

                </div>
            </nav>
        </header>
