{% extends "layout/base.html" %}

{% load crispy_forms_tags %}
{% load static %}


{% block content %}
        <section class="section-1444 odd offers bg-black">
            <div class="container smaller">
                <div class="row intro">
                    <div class="col-12 col-md-12 align-self-center text-center text-md-left">
                        <h2 class="text-center"><span class="featured">Connexion</span></h2>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-1">
            <div class="container">
                <div class="row justify-content-center items">
                    <div class="col-lg-9 mb-5">
                        <div class="card">
                            <div class="card-body">
                                <form method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form|crispy }}
                            </div>
                            <div class="form-group">
                                <button class="btn btn-dark">Envoyer</button>
                            </div>
                        </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}