{% extends "layout/base.html" %}

{% block content %}
 <!-- liste des annonces  -->
        <section class="section-1 pb-5">
                <!-- start item -->
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        {% for covoiturage in covoiturages %}
                        <div class="col-lg-9">
                            <div class="card list-covoiturage p-3 mb-3">
                                <div class="card-body p-0">
                                    <div class="d-flex justify-content-between p-0">
                                        <div class="col-un">
                                            <span>{{ covoiturage.author.first_name }}</span>
                                            <h5 class="pb-0 mb-0">{{ covoiturage.profile }}</h5>
                                        </div>
                                        <div class="col-deux">
                                            <span>Lieu de départ</span>
                                            <h5 class="pb-0 mb-0">{{ covoiturage.start_destination }}</h5>
                                        </div>
                                        <div class="col-trois">
                                            <span>Lieu d'arrivée</span>
                                            <h5 class="pb-0 mb-0">{{ covoiturage.end_destination }}</h5>
                                        </div>
                                        <div class="col-trois">
                                            <span>Date de départ</span>
                                            <h6 class="pb-0 mb-0">{{ covoiturage.date_depart }} à {{ covoiturage.time_depart }} </h6>
                                        </div>
                                    </div>
                                    <hr class="p-0 my-3">
                                    <div class="d-flex justify-content-between p-0">
                                        <div class="col-un">
                                            <span>Nombre de place</span>
                                            <h5>{{ covoiturage.date_depart }}</h5>
                                        </div>
                                        <div class="col-deux">
                                            <span>Prix par passager</span>
                                            <h5>{{ covoiturage.price }} FCFA</h5>
                                        </div>
                                        <div class="col-trois">
                                            <a href="{{ covoiturage.get_absolute_url }}" class="btn primary-button">Contactez-moi</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                </div>
                <!-- end item -->

            </div>
        </section>

{% endblock %}